@{
    PageData["title"] = "AngularJS SPA | Liga Española";
}
    
<table class="table table-hover">
    <tr>
        <td> </td>
        <td>Liga</td>
        <td>Jornada</td>
        <td>Fecha</td>
        <td></td>
        <td align="center">Marcador <br /> Local </td>
        <td align="center">Marcador <br /> Visitante </td>
        <td></td>
    </tr>
    
    <tr>
        <td>1</td>
        <td>Española</td>
        <td>1</td>
        <td> 24/08/2014</td>
        <td>Sevilla FC</td>
        <td></td>
        <td></td>
        <td>Valencia CF</td>
    </tr>

    <tr>
        <td>1</td>
        <td>Española</td>
        <td>1</td>
        <td> 24/08/2014</td>
        <td>UD Almería</td>
        <td> </td>
        <td> </td>
        <td>RCD Espanyol</td>
    </tr>
    
    <tr>
        <td>1</td>
        <td>Española</td>
        <td>1</td>
        <td> 24/08/2014</td>
        <td>RC Celta de Vigo</td>
        <td> </td>
        <td> </td>
        <td>Getafe CF</td>
    </tr>
</table>
<a href="/mis-ligas" class="btn btn-primary btn-block"> Regresar a Mis Ligas</a>